body{
   background-color: #eee; 
}
a{
    color:hotpink; 
    background-color: #f00;
    border-color: #f00;
    border: solid 1px#d00;
    padding: 15px;
    margin-top: 25px;
    border-radius: 4px;
}
a:link{
    color: pink;
    text-decoration: none;;
}
a:visited{
    color:blue;
}
a:active{
    color: black;
}
a:hover{
    color: white;
    /* text-decoration: underline;; */
    background-color: #f55;

}